<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hln.blink.mapper.ProfilesMapper">

    <sql id="profilesSql">
        id,user_id,`name`,img,height,education_level,occupation,interests_hobbies,self_description,del_flag
    </sql>

    <!-- 添加 -->
    <insert id="addProfiles">
        insert into
            profiles
            (user_id,name,height,education_level,occupation,interests_hobbies,self_description)
        values
            (#{userId},#{name},#{height},#{educationLevel},#{occupation},#{interestsHobbies},#{selfDescription})
    </insert>

    <!-- 根据userId删除个人信息 -->
    <update id="deleteProfilesById">
        update
            profiles
        set
            del_flag = 1
        where
            user_id = #{userId}
        limit 1
    </update>

    <!-- 修改 -->
    <update id="updateProfilesById">
        update profiles
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="img != null and img != ''">
                img = #{img},
            </if>
            <if test="height != null">
                height = #{height},
            </if>
            <if test="educationLevel != null">
                education_level = #{educationLevel},
            </if>
            <if test="occupation != null">
                occupation = #{occupation},
            </if>
            <if test="interestsHobbies != null">
                interests_hobbies = #{interestsHobbies},
            </if>
            <if test="selfDescription != null">
                self_description = #{selfDescription}
            </if>
        </set>
        where
            user_id = #{userId}
        limit 1
    </update>


    <!-- 根据userId查询用户信息 -->
    <select id="queryUserById" resultType="com.hln.blink.pojo.Profiles">
        select
            <include refid="profilesSql"/>
        from
            profiles
        where
            user_id = #{userId}
        limit 1
    </select>

    <!-- 查询所有 -->
    <select id="findAll" resultType="com.hln.blink.pojo.vo.ProfilesVo">
        select
            p.id,p.user_id,p.`name`,u.sex,p.img,p.height,p.education_level
             ,p.occupation,p.interests_hobbies,p.self_description,p.del_flag
        from
            profiles p
        inner join
            user u
        on
            p.user_id = u.id
        and
            u.del_flag = 0
    </select>

</mapper>
